<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="result"></div>
<script>
    document.getElementById("result").innerHTML += "Welcome to chat room: <br>";
    const evtSource = new EventSource("chat/start", { withCredentials: true } );
    evtSource.onopen = function(){
        document.getElementById("result").innerHTML += "Connection is on"+ "<br>";
    };
    evtSource.onmessage = function(event) {
        document.getElementById("result").innerHTML += event.data + "<br>";
    };
</script>
</body>
</html>
